<%- include('front-end/include_fixo/include_html/head.ejs')%>
</head>
<body>
<%- include('front-end/include_fixo/include_html/componente/header.ejs')%>

 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  

<script type="text/javascript" src="/js/excluir.js"></script>
<script type="text/javascript" src="/js/add.js"></script>

<h1>Crie e Edite Suas Notas</h1>

<hr class="hr">
<h2>Notas</h2>

<section>
    <div id="append" class="agrupar">
<% if (dados.length > 0){ %>
    <% for (let inf of dados){ %>

    <div id="<%= inf.id %>" class="primeira_secao">
        <nav class="navagrup">
            <form action="/user/adiciona/notas/editar" method="post">
<input name="id" type="text" value="<%= inf.id %>" disabled>
<input type="hidden" name="id" type="text" value="<%= inf.id %>" >
<input name="titulo" id="titulo" type="text" value=<%= inf.titulo %>>
<textarea name="texto" id="texto" type="text"><%= inf.texto %></textarea>
<button class="abrirdados">abrir</button>  
</form>
<nav id="<%= inf.id %>">
<button class="excluirdados">excluir</button>
</nav>
</nav>
</div>

<% }} %>
</div>
</section>

<hr class="hr">
<h2>Criar Notas</h2>

<section>
    <div class="agrupar">
    <div class="primeira_secao">
<input id="tituloadd" type="text" >
<textarea id="textoadd" type="text" ></textarea>
<button id="adddados">adicionar</button>
    </div>
</div>
</section>

<%- include('front-end/include_fixo/include_html/componente/footer.ejs')%>
<%- include('front-end/include_fixo/include_html/fim_page.ejs')%>